nav {
  /* border: 1px solid #fff; */
  padding: 1rem;
  padding-block: 1.8rem;
}

#nav-logo {
  color: rgb(249, 72, 119);
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
}

#movie-logo {
  color: rgb(0, 255, 242);
}

.navbar-top {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.search-box {
  border-radius: 15px;
  padding: 5px 0px 5px 15px;
  border: none;
  box-shadow: 0px 0px 2px 2px gray inset;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  color: white;
}

.search-box:hover {
  box-shadow: 0px 0px 2px 2px rgba(166, 177, 183);
  padding: 5px 50px 5px 15px;
}

.nav-mid {
  border: transparent;
  width: 75%;
}

.nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.nav-item {
  min-width: 100px;
}

.nav-link {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  min-width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(166, 177, 183, 0.4);
  border: none;
}
