/* Font family */
@font-face {
  font-family: "UntitledWoodTypeThin";
  src: url("../../assets/fonts/UntitledWoodTypeThin.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

nav {
  /* border: 1px solid #fff; */
  padding: 1rem;
  padding-block: 1.8rem;
}

#nav-logo {
  color: #fd0282;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 4vw;
  font-family: Impact;
  font-weight: 100;
  display: flex;
  align-items: center;
}

#nav-logo:hover {
  transform: scale(2);
  transition: all ease-in 5s;
  opacity: 0;
}

#movie-logo {
  color: #4dfcec;
  font-family: UntitledWoodTypeThin;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0px;
}

.navbar-top {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* search-btn */
nav button {
  background-color: inherit;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  border: 1px transparent solid;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
}

.search-container {
  display: flex;

  margin-left: 4vw;
  border-radius: 20px;
  padding: 0px 0px 0px 15px;
  border: none;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1) inset;
}

.search-box {
  background-color: inherit;
  cursor: pointer;
  color: white;
  border: none;
  transition: 0.3s all ease-in-out;
}
.search-box:hover {
  border: none;
}

.nav-mid {
  border: transparent;
  width: 75%;
}

.nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.nav-item {
  min-width: 100px;
}

.nav-link {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  min-width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(166, 177, 183, 0.4);
  border: none;
  opacity: 0.8;
  transition: 0.3s all ease-in-out;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);

  opacity: 1;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.4);
}
