/* Bento */
.movie-bento-container {
  margin: 0 auto;
  margin-top: 5vh;
  width: 90%;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  border-radius: 20px;
}

.movie-bento-container > div {
  border: 1px solid red;
  border-radius: 20px;
  color: white;
  width: 100%;
}

.nowplaying-container {
  grid-column: 1fr;
}
.recently-container {
  grid-column: 1fr;
}

.recommend-container {
  grid-column: 1 / span 2;
}
