/* animation of slide in-out */

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.modal-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 9998;
}

.modal-background-overlay.fade-in {
  opacity: 0.9;
}

.modal-background-overlay.fade-out {
  opacity: 0;
}

/* Modal Container Animations */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  width: 70%;
  height: 90%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 9999;
  overflow: auto; /* Ensures scrolling when content overflows */
  cursor: default;
  min-width: 580px;
  min-height: 780px;
}

.modal-container.slide-in {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.2); /* Moved this style here */
}

.show_backdrop_img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(50%);
}

.modal-container-left {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  max-width: 90%;
  max-height: 100%; /* Added to ensure scrolling */
  overflow: auto; /* Added to ensure scrolling */
}

/* tags style */
.tags {
  display: flex;
  gap: 1.2vw;
  text-transform: uppercase;
  padding-top: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.tags span {
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0);
  opacity: 0.85;
}

.year {
  background-color: darkred;
}

.media-type {
  background-color: darkblue;
}

.language {
  background-color: darkmagenta;
}

.rating {
  background-color: darkgoldenrod;
}

/* end of tags style */

.title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.9;
}

.shows-duration {
  opacity: 0.7;
}

.last-episode {
  opacity: 0.7;
}

.genre-tags {
  display: flex;
  gap: 1vw;
  opacity: 0.8;
}
.genre-tags span {
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 5px 2px 5px 2px;
  backdrop-filter: blur(10px);
  gap: 1rem;
  text-align: center;
}

.plot-overview {
  opacity: 0.85;
  line-height: 1rem;
  max-width: 100%;
  height: 30%;
}

.cast-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  bottom: 9.5rem;
}

.cast-list img {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.actor-container {
  position: relative;
}
.actor-name {
  position: absolute;
  padding: 2px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 1);
  opacity: 0.85;
  border: 1px solid gray;
  z-index: 1;
}

.trailer-button {
  width: 12rem;
  padding: 1rem;
  box-shadow: 0 0 2px 2px #cd201f;
  border: none;
  background-color: rgba(128, 128, 128, 0.25);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 2rem;
}

.trailer-button:hover {
  background-color: #cd201f;
  transition: 0.3s all ease-in-out;
  font-weight: bold;
  font-size: 1.1rem;
}

.actor {
  background-color: black;
  color: white;
}

.actor h1 {
  font-size: 2rem;
}

#root > div.modal-container.slide-in.actor,
#root > div.modal-container.slide-out.actor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actor-modal-movie img {
  width: 20rem;
}

#root > div.modal-container.slide-in.actor > div.actor-modal-container-right,
#root > div.modal-container.slide-out.actor > div.actor-modal-container-right {
  display: flex;
}
