.modal-background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1001;
  opacity: 0.5;
}

.modal-container {
  width: 70%;
  height: 90%;
  border: 1px solid white;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 1002;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.modal-container img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  cursor: default;
  filter: brightness(0.28);
  z-index: -1;
}
