:root {
  --color1: #1a1a1d;
  --color2: #3b1c32;
  --color3: #6a1e55;
  --color4: #a64d79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(22, 22, 22);
}

main {
  padding-block: 3rem;
}

#root > main > div.movie-bento-container h2 {
  position: absolute;
  z-index: 1000;
  margin: 2rem;
  border: 1px solid white;
  padding: 1.2rem;
  border-radius: 25px;
  font-size: 14px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
