:root {
  --color1: #1a1a1d;
  --color2: #3b1c32;
  --color3: #6a1e55;
  --color4: #a64d79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(22, 22, 22);
  min-width: 1100px;
}

main {
  padding-block: 3rem;
}

.hide {
  display: none;
}

@media (min-width: 1000px) {
  body {
    min-height: 960px;
  }
}

@media (max-width: 800px) {
  body {
    min-width: 540px;

    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 !important;
    }

    div.artrists-container > div:nth-child(3) > img {
      display: none;
    }

    div.artrists-container > div:nth-child(4) > img {
      display: none;
    }

    .recommend-container h2 {
      font-size: 1rem !important;
      padding-top: 1rem;
    }

    .recommend-container img {
      height: 100%;
      object-fit: contain;
    }
  }

  #carouselExampleIndicators,
  .movie-list-container {
    width: 100% !important;
    border-radius: 0 !important;
  }
}
