:root {
  --color1: #1a1a1d;
  --color2: #3b1c32;
  --color3: #6a1e55;
  --color4: #a64d79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(22, 22, 22);
}

main {
  padding-block: 3rem;
}
